http://weizhongli-lab.org/RNA-seq/Data/reference-genomes/?C=N;O=D
http://combine-australia.github.io/RNAseq-R/06-rnaseq-day1.html
http://www.nathalievilla.org/doc/pdf/tutorial-rnaseq.pdf
https://bioinformatics.uconn.edu/resources-and-events/tutorials/rna-seq-tutorial-with-reference-genome/
